# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Intermediate build directories
build/
obj/
dist/
tmp/
bin/

# Specific to certain Makefile setups
Makefile.dep
Makefile.bak
Makefile.old
Makefile.tmp
